<!-- start custom comments snippet -->
<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 4470;
    var HYVOR_TALK_CONFIG = {
        url: false,
        id: '{{page.id}}'
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
<!-- end custom comments snippet -->